{{<super}}

{{$content}}

{{^loggedIn}}
    <div>
        <p>This website looks at your computer analysed games in Lichess and shows you positions where the opponent
            blundered and you failed to take advantage of the situation.</p>

        <p>Enter your Lichess username to generate your custom made puzzles from your own games!</p>
        <form name="search" action="search" method="get">
            Lichess Username: <input type="text" name="q"/>
            <input type="submit" value="Go!"/>
        </form>
    </div>
{{/loggedIn}}

<h2>Latest Puzzles From Other Players</h2>

<div>
  <p>Can you find the winning move that was missed?</p>
</div>

{{> puzzles}}

<div class="footer">
    <a href="https://github.com/nathanj/lichess-tactics">Source Code</a>
</div>
{{/content}}

{{/super}}
