<script lang='text/javascript'>
var puzzles = {};
$(window).resize(function() {
  for (id in puzzles) {
    puzzles[id].resize();
  }
});

</script>

{{^boards}}
    <p>No missed tactics found. You either have no computer analysed games, or you are Magnus Carlsen.</p>
{{/boards}}

<div class="flex one two-600 three-1000">
    {{#boards}}
        <div style="text-align: center">
            <a href="{{url}}">
                <div id='board{{id}}' style="width: 90%"></div>
            </a>
            <a href="{{url}}">Game {{gameId}} - {{moveDisplay}}</a>
        </div>
        <script lang='text/javascript'>
	var cfg = {
		pieceTheme: '/static/img/chesspieces/wikipedia/{piece}.png',
		orientation: '{{orientation}}',
		showNotation: false,
		position: '{{fen}}'
	};

var puzzle = {}
puzzle.id = "{{id}}";
puzzle.board = ChessBoard('board{{id}}', cfg);
puzzle.div = $('#board{{id}}')
puzzle.resize = function() {
  this.board.resize();
  this.div.find('.square-{{moveSource}}').addClass('highlight1-32417');
  this.div.find('.square-{{moveDestination}}').addClass('highlight1-32417');
}
puzzle.resize();
puzzles[puzzle.id] = puzzle;
        </script>
    {{/boards}}
</div>

