{{<super}}

{{$additional_head}}
<meta http-equiv="refresh" content="2">
{{/additional_head}}

{{$content}}

<div>
    <p>Fetching your latest analysed games. Hang tight, this can take a few seconds...</p>
</div>

{{/content}}

{{/super}}
