{{<super}}

{{$content}}
<h1>Find Missed Lichess Tactics</h1>

<form name="search" action="search" method="get">
    Lichess Username: <input type="text" name="q"/>
    <input type="submit" value="Go!"/>
</form>

<div class="footer">
    <a href="https://github.com/nathanj/lichess-tactics">Source Code</a>
</div>
{{/content}}

{{/super}}
