{{<super}}

{{$additional_head}}
<link rel='stylesheet' href='css/chessboard-0.3.0.css'/>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
<script src='js/chessboard-0.3.0.js'></script>
{{/additional_head}}

{{$content}}

{{> puzzles}}

{{/content}}

{{/super}}
